Auto-Internship Applier.json
{
  "name": "Auto-Internship Applier",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyHour"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1ZJ9HTVYRh41BNrJHY4ovzKRcMkRjgtCH0jvUT38A_NQ",
          "mode": "list",
          "cachedResultName": "My Job Applications",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZJ9HTVYRh41BNrJHY4ovzKRcMkRjgtCH0jvUT38A_NQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZJ9HTVYRh41BNrJHY4ovzKRcMkRjgtCH0jvUT38A_NQ/edit#gid=0"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -832,
        -16
      ],
      "id": "78281df2-4822-4205-98d0-0b70b81d8ad1",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "sFtOMQXrHIzkNyyJ",
          "name": "Google Sheets Trigger account 4399"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a B.Tech student applying for a software development internship.\n\nGiven your name, the internship role you're applying for, and your details, experience, and skills — write a short, polite, confident and ready-to-send email introducing yourself and expressing interest in the internship opportunity.\n\nKeep the tone enthusiastic but formal.\n\nMention that you are eager to learn and contribute.\n\nEnd the email with thank you and your name.\n\nUse \"Dear Hiring Manager\" as the greeting.\n\nDo not include placeholder text.\n\nHere is your information:\n\nName: {{ $json[\"Full Name\"] }}\n\nInternship Role: {{ $json[\"Position Applied\"] }}\n\nDetails: {{ $json.Details }}\n\nExperience: {{ $json[\"Experience (Years)\"] }}\n\nSkills: {{ $json.Skills }}",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -624,
        -16
      ],
      "id": "aa057dca-9586-419a-a8a2-236e4495a32f",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        -624,
        192
      ],
      "id": "a9bf8f28-4612-4410-b661-20c13f580c75",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "NEAVeyzsrWXcbv9d",
          "name": "Google Gemini(PaLM) Api account 11042"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"to\": {\n      \"type\": \"string\"\n    },\n    \"subject\": {\n      \"type\": \"string\"\n    },\n    \"body\": {\n      \"type\": \"string\"\n    }\n  }\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -480,
        192
      ],
      "id": "2ff5135e-39e4-4650-8434-a15802fb48d6",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "sendTo": "={{$json.to}}",
        "subject": "={{$json.subject}}",
        "emailType": "text",
        "message": "={{$json.body}}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -272,
        -16
      ],
      "id": "b3195678-a4f7-4968-9d69-1faeb92595b4",
      "name": "Send a message",
      "webhookId": "9ba8f229-b726-495d-9396-af387e77d64a",
      "credentials": {
        "gmailOAuth2": {
          "id": "guqHSrIswrDSZe6e",
          "name": "Gmail account 3020"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "c1604660-486a-454f-8405-a5c4af01e613",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "969257b09ad2942bbaff2e2288304f4969030574d109cdeca05bf11f630884df"
  },
  "id": "iIq9QX075oMiPEmz",
  "tags": []
}